In [2]:
import numpy as np
import pandas as pd 
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.model_selection import cross_validate
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import precision_score

In [11]:
data = pd.read_csv('../Group0/train_1204.csv', index_col='TransactionID')

In [12]:
data.head()

,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,...,id_20,id_28,id_29,id_31,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
TransactionID,,,,,,,,,,,,,,,,,,,,,
2987000,0,86400,68.5,4,13926,368.164292,150.0,1,142.0,1,...,507.0,-1,-1,-1,-1,-1,-1,-1,-1,-1
2987001,0,86401,29.0,4,2755,404.000000,150.0,2,102.0,1,...,507.0,-1,-1,-1,-1,-1,-1,-1,-1,-1
2987002,0,86469,59.0,4,4663,490.000000,150.0,3,166.0,2,...,507.0,-1,-1,-1,-1,-1,-1,-1,-1,-1
2987003,0,86499,50.0,4,18132,567.000000,150.0,2,117.0,2,...,507.0,-1,-1,-1,-1,-1,-1,-1,-1,-1
2987004,0,86506,50.0,1,4497,514.000000,150.0,2,102.0,1,...,144.0,1,1,123,1,0,1,1,1,954

In [13]:
X = data.iloc[:,1:]
y = data.iloc[:,0]

In [16]:
# define models
rfc = RandomForestClassifier(n_estimators=100,max_depth=10)
xgb = XGBClassifier()

In [25]:
scoring = ['recall_macro', 'precision_macro', 'f1_macro', 'roc_auc']

In [26]:
rf_scores = cross_validate(rfc, X, y, scoring=scoring, cv=5)

In [27]:
xgb_scores = cross_validate(xgb, X, y, scoring=scoring, cv=5)

In [28]:
# show results
rf_scores

{'fit_time': array([88.383039  , 82.96636486, 83.61039376, 80.9375124 , 76.88734579]),
 'score_time': array([5.22786498, 4.48382998, 4.34743595, 4.57044983, 4.3603282 ]),
 'test_recall_macro': array([0.62134416, 0.61747489, 0.61508166, 0.62659283, 0.61748662]),
 'test_precision_macro': array([0.79086664, 0.9362304 , 0.93774786, 0.92046129, 0.91315027]),
 'test_f1_macro': array([0.66825515, 0.67981762, 0.6768713 , 0.68980033, 0.67794847]),
 'test_roc_auc': array([0.84195521, 0.87805104, 0.8756877 , 0.88430704, 0.86201171])}

In [29]:
xgb_scores

{'fit_time': array([428.1175921 , 424.71781898, 423.41947007, 426.09353685,
        424.37382197]),
 'score_time': array([6.17679906, 6.06548214, 5.805969  , 6.05846024, 6.10536981]),
 'test_recall_macro': array([0.50012098, 0.59216725, 0.66364137, 0.64992411, 0.63150549]),
 'test_precision_macro': array([0.98250754, 0.53027591, 0.78527008, 0.90446766, 0.87691552]),
 'test_f1_macro': array([0.49133995, 0.53267641, 0.70643645, 0.71491542, 0.69094662]),
 'test_roc_auc': array([0.8758544 , 0.66605758, 0.82073923, 0.90756329, 0.88375522])}